.dialog-header {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.dialog-header .dialog-header-text {
    font-weight: 900;
    white-space: nowrap;
}

/* Add margin to the speeddial element. */
:host ::ng-deep .p-speeddial {
    margin: 1em 0 0 1em;
}

:host ::ng-deep p-inputswitch>* {
    display: block;
}