.page-content {
  width: 75%;
  max-height: 90%;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  padding: 1rem;
  height: 100%;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

h1 {
  font-size: 3.125rem;
  cursor: pointer;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  margin-left: 9px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5em;
  overflow-y: auto;
}

.classDiv {
  padding: 16px;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  cursor: pointer;
}

.suggested {
  border: 1px solid var(--primary-color);
  margin: 8px;
  border-radius: 20px;
  padding: 6px;
}