<h1>{{title}}</h1>
<div class="page-content">
        <div>
            <p-confirmDialog></p-confirmDialog>
            <div class="grid" *ngIf="userCourses.length; else noCourses">
                <ng-template ngFor [ngForOf]="userCourses" let-course>
                    <div class="classDiv">
                        <div [routerLink]="['/viewer', course.id]">
                            <h4>{{ course.title }}</h4>
                            <h6>{{ course.id }}</h6>
                        </div>
                            <p-button type="button" [rounded]="true" icon="pi pi-trash" (click)="confirm(course.id)"></p-button>
                    </div>
                </ng-template>
            </div>
            <ng-template #noCourses>
                <h2>You are not currently enrolled in any courses.</h2>
            </ng-template>
            
        </div>
        <div class="footer">
            <h1>Suggested Courses</h1>
            <p-carousel [value]="allCourses" [numVisible]="4" [numScroll]="3" [responsiveOptions]="responsiveOptions">
                <ng-template let-course pTemplate="item">
                    <div class="suggested">
                        <div [routerLink]="['/viewer', course.id]">
                            <h4>{{ course.title }}</h4>
                        </div>
                        <p-button type="button" [rounded]="true" icon="pi pi-plus" (click)="addCourse(course.id)" label="Add"></p-button>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
</div>


