.page-content {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow: auto;
}
.navButton {
  margin-top: 15px;
}
.loading {
  margin: auto;
  height: 400px; 
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.noContent {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  margin-top: -20px;
  font-size: 25px;
  font-weight: 600;
  opacity: 0.7;
}
.fsbutton {
  margin-left: 5px;
}
.minimizedContent {
  display: flex;
  flex-direction: column;
}
.focusBox {
  height: 600px;
}
.box {
  border: 2px dashed var(--primary-color);
  border-radius: 10px;
  width: 100%;
  font-weight: 500;
  justify-content: center;
  padding: 1rem;
  display: flex;
  cursor: pointer;
}
h1 {
    font-size: 3.125rem;
    cursor: pointer;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    margin-bottom: 7px;
}
  [draggable] {
    cursor: move;
  }
  .content {
    background-color: var(--primary-color);
    height: 100%;
    width: 100%;
    pointer-events: none;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
    align-items: stretch;
    grid-auto-flow: row; 
    padding: 1em 2em 1em 1em; 
  }
  .leftSide {
    overflow-x: visible;
    overflow-y: scroll;
    max-height: 730px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  .description {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    max-height: 650px; 
    padding: 1em 2em 1em 1em; grid-auto-flow: row; overflow-x: visible;
    border-radius: 20px;
    width: 92%;
    margin-left: 15px;

  }
  
  .my-courses-container>* {
    transition-duration: 250ms;
  }
  
  .my-courses-container>*:hover {
    scale: 1.02;
  }
  
  .user-stats-container>* {
    flex-grow: 1;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 0.5em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-300);
    border-radius: 0.25em;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-500);
  }
  
  /* width */
  ::ng-deep ::-webkit-scrollbar {
    width: 0.5em;
  }
  
  /* Track */
  ::ng-deep ::-webkit-scrollbar-track {}
  
  /* Handle */
  ::ng-deep ::-webkit-scrollbar-thumb {
    background: var(--primary-300);
    border-radius: 0.25em;
  }
  
  /* Handle on hover */
  ::ng-deep ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-500);
  }
  
  :root {
    overflow: hidden;
  }
  
  /* Override the default PrimeNG dialog component*/
  ::ng-deep .p-dialog-content {
    overflow: visible;
  }