<p-card [style]="{
  position: 'absolute',
  top: '0.75em',
  right: '0.75em',
}">
  <div style="
    display: flex; 
    align-items: center; 
    gap: 0.5em;
    padding: 0.5em;
  ">
    <p-toggleButton [(ngModel)]="enableEdits" (ngModelChange)="onEnableEditsChange($event)" onIcon="pi pi-lock-open"
      offIcon="pi pi-lock" [pTooltip]="enableEdits ? 'Disable Edits' : 'Enable Edits'" tooltipPosition="bottom" />
    <p-toggleButton [(ngModel)]="addLesson" (ngModelChange)="onAddLessonChange($event)" onIcon="pi pi-plus-circle"
      offIcon="pi pi-plus-circle" [pTooltip]="addLesson ? 'Disable Adding Lesson' : 'Enable Adding Lesson'"
      tooltipPosition="bottom" />
    <p-toggleButton [(ngModel)]="addConnection" onIcon="pi pi-share-alt" offIcon="pi pi-share-alt"
      [pTooltip]="addConnection ? 'Disable Adding Connection' : 'Enable Adding Connection'" tooltipPosition="bottom" />
    <p-toggleButton [(ngModel)]="deleteElement" onIcon="pi pi-trash" offIcon="pi pi-trash"
      [pTooltip]="deleteElement ? 'Disable Deleting Element' : 'Enable Deleting Element'" tooltipPosition="bottom" />
  </div>
</p-card>


<!--This displays the graph of the course.-->
<graph #graphComponent class="course-view-graph-container" [edges]="this.edges" [nodes]="this.nodes"
  [clusters]="this.clusters" [layoutSettings]="courseViewGraphSettings" (nodeClicked)="onNodeClick($event)"
  (edgeClicked)="onEdgeClick($event)" />

<!--This is a dialog component to display whenever a node is clicked.-->
<p-dialog header="Header" [draggable]="false" [(visible)]="dialogVisible" [position]="'bottomright'"
  [style]="{ width: '33vw' }">
  <ng-template pTemplate="header">
    <div class="dialog-header">
      <p-avatar image="https://primefaces.org/cdn/primeng/images/avatar/amyelsner.png" shape="circle" />
      <span class="dialog-header-text">{{selectedNode.label}}</span>
    </div>
  </ng-template>
  <div style="display: flex; align-items: center; gap: 0.5em;">
    <p-tag *ngFor="let tag of selectedNode?.data.tags" value="{{tag}}"></p-tag>
  </div>
  <p class="m-0">
    {{selectedNode?.data.short_description}}
  </p>
  <ng-template pTemplate="footer">
    <!--TODO: Have click go to lesson page-->
    <p-button [routerLink]="['/lesson', selectedNode.label]" icon="pi pi-book" (click)="dialogVisible = false"
      label="View Lesson" pAutoFocus [autofocus]="false" [style]="{margin: '0'}" />
  </ng-template>
</p-dialog>