.dialog-header {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.dialog-header .dialog-header-text {
    font-weight: 900;
    white-space: nowrap;
}

:host {
    position: relative;
}

/* Add margin to the speeddial element. */
:host ::ng-deep .p-speeddial {
    margin: 1em 0 0 1em;
}

:host ::ng-deep p-inputswitch>* {
    display: block;
}

:host ::ng-deep p-multiselect .p-multiselect-trigger {
    background: var(--primary-color);
    color: var(--primary-color-text);
}

/* TODO: setup the color correctly to swap for light and dark mode (right now I've just chosen a color that works in both modes */
/* TODO: try to make this pan and scale with the graph*/
:host ::ng-deep graph>div {
    background-image:
        linear-gradient(rgba(100, 100, 100, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(100, 100, 100, 0.1) 1px, transparent 1px);
    background-size: 4em 4em;
}


/* Overrides for p-card, p-button, and toggleButton so the menu bars work. */
:host ::ng-deep p-card .p-card-body,
:host ::ng-deep p-card .p-card-content {
    padding: 0;
}

:host ::ng-deep p-toggleButton>div {
    border: none;
    box-shadow: none !important;
}

:host ::ng-deep p-toggleButton>div[aria-checked="true"] {
    background: var(--primary-color) !important;
}

:host ::ng-deep p-toggleButton>div>span {
    border: none;
    box-shadow: none !important;
}

:host ::ng-deep p-toggleButton>div[aria-checked="false"]>span {
    color: var(--primary-color);
}

:host ::ng-deep p-button>.p-button {
    border: none;
    color: var(--primary-color);
    box-shadow: none !important;
}

:host ::ng-deep p-button#saveNodeButton>.p-button {
    color: var(--primary-color-text) !important;
}

:host ::ng-deep p-dialog>*>*>:nth-child(2) {
    padding: 3em 1.5em 1.5em 1.5em;
}

:host {
    overflow: hidden;
}