.env
backend/__pycache__
backend/routers/__pycache__
backend/models/__pycache__
backend/services/__pycache__
.vscode
.expo
frontend/.env
backend/.venv
backend/logs/*
!backend/logs/.gitkeep
frontend/node_modules
backend/logs/*
!backend/logs/.gitkeep
/.expo
.DS_Store