.env
.vscode
.expo
.DS_Store

backend/__pycache__
backend/routers/__pycache__
backend/models/__pycache__
backend/services/__pycache__
backend/.venv
backend/logs/*
!backend/logs/.gitkeep
backend/logs/*
!backend/logs/.gitkeep

frontend/.env
frontend/node_modules
frontend/.angular