.page-content {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.p-card {
  width: 560px;
  align-items: center;
  justify-content: center;
}

.error {
  color: red;
  font-weight: 500;
  margin-bottom: 10px;
}