<div class="page-content">
    <form [formGroup]="registerForm" (ngSubmit)="signup()">
        <p-card [style]="{ width: '460px' }">
            <div style="display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 2rem; font-weight: 700; margin: 0;">Sign Up</p>
            </div>

            <!--First Name Input-->
            <div style="display: flex; margin-top: 1.75em; gap: 1em; align-items: center;">
                <span class="p-float-label" style="flex-grow: 1;">
                    <input type="text" pInputText formControlName="first_name" name="first_name"
                        [style]="{ width: '100%' }" />
                    <label for="first_name">First Name</label>
                </span>
                <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)">
                    <p-message *ngIf="first_name.errors?.['required']" severity="error" text="A name is required." />
                    <p-message *ngIf="first_name.errors?.['pattern']" severity="error" text="Enter a valid name." />
                </div>
            </div>
            <!--Last Name Input-->
            <div style="display: flex; margin-top: 1.75em; gap: 1em; align-items: center;">
                <span class="p-float-label" style="flex-grow: 1;">
                    <input type="text" pInputText formControlName="last_name" name="last_name"
                        [style]="{ width: '100%' }" />
                    <label for="last_name">Last Name</label>
                </span>
                <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)">
                    <p-message *ngIf="last_name.errors?.['required']" severity="error" text="A name is required." />
                    <p-message *ngIf="last_name.errors?.['pattern']" severity="error" text="Enter a valid name." />
                </div>
            </div>
            <!--Email Input-->
            <div style="display: flex; margin-top: 1.75em; gap: 1em; align-items: center;">
                <span class="p-float-label" style="flex-grow: 1;">
                    <input type="text" pInputText formControlName="email_address" name="email_address"
                        [style]="{ width: '100%' }" />
                    <label for="email_address">Email</label>
                </span>
                <div *ngIf="email_address.invalid && (email_address.dirty || email_address.touched)">
                    <p-message *ngIf="email_address.errors?.['required']" severity="error"
                        text="An email is required." />
                    <p-message *ngIf="email_address.errors?.['email']" severity="error" text="Enter a valid email." />
                </div>
            </div>
            <!--Passsword Input-->
            <div style="display: flex; margin-top: 1.75em; gap: 1em; align-items: center;">
                <span class="p-float-label" style="flex-grow: 1;">
                    <input type="password" pInputText formControlName="password" name="password"
                        [style]="{ width: '100%' }" />
                    <label for="password">Password</label>
                </span>
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <p-message *ngIf="email_address.errors?.['required']" severity="error"
                        text="A password is required." />
                </div>
            </div>
            <!--Confirm  Password Input-->
            <div style="display: flex; margin-top: 1.75em; gap: 1em; align-items: center;">
                <span class="p-float-label" style="flex-grow: 1;">
                    <input type="password" pInputText formControlName="confirmPassword" name="confirmPassword"
                        [style]="{ width: '100%' }" />
                    <label for="confirmPassword">Confirm Password</label>
                </span>
                <div
                    *ngIf="(confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) && confirmPassword.errors?.['required']) || (registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid)">
                    <p-message
                        *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) && confirmPassword.errors?.['required']"
                        severity="error" text="Confirm your password." />
                    <p-message
                        *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid"
                        severity="error" text="Passwords should match." />
                </div>
            </div>

            <!--Account Type Button-->
            <div style="display: flex; align-items: center; gap: 1em; margin-top: 1em;">
                <p>Account Type: </p>
                <p-toggleButton formControlName="user_type" onLabel="Teacher" offLabel="Student" />
            </div>

            <!--Submit and Errors-->
            <p-button label="Sign-Up" class="w-full" [disabled]="registerForm.invalid" type="submit"
                [style]="{ width: '100%', 'margin-top': '1em' }" />
            <p-message *ngIf="errorMessage" severity="error" [text]="errorMessage"
                [style]="{ width: '100%', 'margin-top': '1em' }" />
        </p-card>
    </form>
</div>