<h1 class="navbarTitle">{{title}}</h1>
<main>
    <form [formGroup]="registerForm" (ngSubmit)="signup()">
        <p-card>
        <div class="field">
            <label for="first_name">First Name</label>
            <input type="text" pInputText formControlName="first_name" class="w-full" name="first_name" placeholder="Enter your first name..."/>
            <small *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class="block p-error">
                <div *ngIf="first_name.errors?.['required']">A name is required</div>
                <div *ngIf="first_name.errors?.['pattern']">Please enter a valid name</div>
            </small>
        </div>
        <div class="field">
            <label for="last_name">Last Name</label>
            <input
            type="text"
            pInputText
            formControlName="last_name"
            class="w-full"
            name="last_name"
            placeholder="Enter your last name..."
            />
            <small
            *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)"
            class="block p-error"
            >
            <div *ngIf="last_name.errors?.['required']">A name is required.</div>
            <div *ngIf="last_name.errors?.['pattern']">Please enter a valid name</div>
            </small>
        </div>
        <div class="field">
            <label for="email_address">Email</label>
            <input
            type="text"
            pInputText
            formControlName="email_address"
            class="w-full"
            name="email_address"
            placeholder="Enter your email..."
            />
            <small
            *ngIf="email_address.invalid && (email_address.dirty || email_address.touched)"
            class="block p-error"
            >
            <div *ngIf="email_address.errors?.['required']">An email is required.</div>
            <div *ngIf="email_address.errors?.['email']">Please enter a valid email</div>
            </small>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input
            type="password"
            pInputText
            formControlName="password"
            class="w-full"
            name="password"
            placeholder="Enter your password..."
            />
            <small
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="block p-error"
            >
            <div *ngIf="password.errors?.['required']">A password is required.</div>
            </small>
        </div>
        <div class="field">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" pInputText formControlName="confirmPassword" class="w-full" name="confirmPassword" placeholder="Confirm Password"/>
            <small
            *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="block p-error">
            <div *ngIf="confirmPassword.errors?.['required']">
                Confirm the password
            </div>
            </small>
            <small class="block p-error" *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid">
                Password should match
            </small>
        </div>
        <p-button
            label="Sign-Up"
            class="w-full"
            [disabled]="registerForm.invalid"
            type="submit"
        ></p-button>
        </p-card>
    </form>
</main>
  