.page-content {
  width: 100%;
  min-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

p-card {
  display: flex;
  width: 60vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
footer {
  margin-top: 20px;
  font-size: large;
  opacity: 0.7;
}