.flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0.25em 1.5em;
  background-color: var(--primary-color);

  background: var(--primary-color);
  background: linear-gradient(120deg, var(--primary-600) 0%, var(--primary-400) 100%);

}

.styled {
    font-size: 28px;
    font-weight: bold; 
    cursor: pointer;
    vertical-align: top; 
    color: var(--primary-color-text);
}

:host ::ng-deep .p-toolbar {
  border: none;
  background-color: transparent;
}

h1 {
  font-size: 3.125rem;
  cursor: pointer;
  line-height: 100%;
  letter-spacing: -0.125rem;
  color: var(--primary-color-text);
  margin: 0;
}

button {
  border-radius: 20px;
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  font-weight: 600;
}

button:hover {
  background-color: var(--hover-color);
}

.p-button:focus {
  border: 3px solid var(--secondary-color);
}