.flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    align-items: center; 
    padding: 10px; 
    background-color: var(--primary-color);
}
.navbarTitle {
    position: fixed;
    top: 0; 
    margin-top: 30px;
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 9999;
    font-weight: 500;
    color: white;
    font-size: 2.225rem;
    background-color: var(--hover-color);
    border-radius: 28px;
    border: 10px solid var(--hover-color);
}
:host ::ng-deep  .p-toolbar {
    border: none;
    background-color: transparent;
}
h1 {
    font-size: 3.125rem;
    cursor: pointer;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    color:var(--secondary-color);
    margin: 0;
}
.page-content {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
}
.p-card {
    width: 460px;
    align-items: center;
    justify-content: center;
}
.field {
    display: grid;
    gap: 1rem;
    font-size: large;
  }
  label {
    margin-bottom: -8px;
  }
  small {
    margin-top: -28px;
  }
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .navbarTitle {
    position: fixed; 
    top: 0;
    margin-top: 30px;
    left: 44%; 
    z-index: 9999;
    font-weight: 500;
    color: white;
    font-size: 2.225rem;
    background-color: var(--hover-color);;
    border-radius: 28px;
    border: 10px solid var(--hover-color);
}
button{
    border-radius: 20px; 
    border-color:var(--primary-color);
    background-color: var(--primary-color);
    font-weight: 600;
}
button:hover {
    background-color:var(--hover-color);
}
.p-button:focus {
    border: 3px solid var(--secondary-color);
}