form { 
border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  display: flex; 
  flex-direction: column; 
 
  padding: 1rem;
  font-weight: 400;
  font-size: large;
}
.wrong {
    background-color: rgba(255, 22, 22, 0.146); 
    width: 80%;
    border-radius: 10px;
}

.correct {
    font-weight: 700;
    color: rgb(114, 203, 114);
}
.results {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    font-size: large;
    font-weight: 700;
    gap: 10px;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 0px;
}