<form #myForm="ngForm">
    <div *ngFor="let question of questions; let i = index">
        <p style="margin: 0 0 0.5rem 0; padding: 0;">
            <span style="font-weight: 700; font-size: 1.5rem; margin-right: 0.5rem; color: var(--primary-color)">
                {{i + 1}}.
            </span>
            {{ question.question_text }}
        </p>

        <div style="display: flex; flex-direction: column; gap: 1em;">
            <div *ngFor="let option of question.options;">
                <p-checkbox [disabled]="submitted" [inputId]="question.question_text + '_' + option"
                    name="optionGroup{{ question.question_text }}" value="{{ option }}"
                    [(ngModel)]="selectedOptions[question.question_text]" />
                <label [for]="question.question_text + '_' + option" style="margin-left: 0.5rem;">{{ option }}</label>
            </div>
        </div>
    </div>
    <div class="buttons">
        <p-button [rounded]="true" type="button" label="Submit" (click)="submit()"></p-button>
        <p-button [rounded]="true" type="button" label="Try Again" (click)="reset(myForm)"></p-button>
    </div>
</form>