.page-content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    height: 80%;
    overflow: scroll;
    opacity: 0.8;
}
.large {
    font-size: 80px;
    margin-top: -8px;
    margin-bottom: 0px;
}
.medium {
    margin-top: -5px;
}
.small {
    opacity: 0.9;
    margin-top: -8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}