/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import 'primeicons/primeicons.css';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*
Because we want scrollbars consistent across the application the styles for it will go here.
*/

/* width */
::-webkit-scrollbar {
    width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-300);
    border-radius: 0.25em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-500);
}

/* width */
::ng-deep ::-webkit-scrollbar {
    width: 0.5em;
}

/* Track */
::ng-deep ::-webkit-scrollbar-track {}

/* Handle */
::ng-deep ::-webkit-scrollbar-thumb {
    background: var(--primary-300);
    border-radius: 0.25em;
}

/* Handle on hover */
::ng-deep ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-500);
}

/* Override the default PrimeNG dialog component*/
::ng-deep .p-dialog-content {
    overflow: visible;
}