<div class="box" pDraggable="lessonContent" (onDragStart)="onDragStart($event)">
  <div style="background-color: var(--primary-color); color: white; height: 50px; display:flex; justify-content: flex-end; padding: 7px;">
    <p-button type="button" class="fsbutton" [rounded]="true" icon="pi pi-window-maximize" (click)="makefull(true)"></p-button>
  </div>
  <iframe width="100%" height="100%" [src]="getURL()" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div *ngIf="value">
  <app-fullscreen>
      <p-button type="button" class="exitbutton" [rounded]="true" icon="pi pi-times" (click)="makefull(false)"></p-button>
      <div style="height: 95%;">
        <iframe width="100%" height="100%" [src]="getURL()" title="YouTube video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
      </div>
      <div>Note: Students should focus on problems 1, 6, and 10 in particular</div>
  </app-fullscreen>
</div>