<div class="graph-outer">
    <svg:svg class="graph">
        <svg:g *ngIf="initialized && graph" [attr.transform]="transform">
            <defs>
                <ng-container *ngIf="defsTemplate" [ngTemplateOutlet]="defsTemplate"></ng-container>
                <svg:path class="text-path" *ngFor="let edge of graph.edges" [attr.d]="edge.textPath"
                    [attr.id]="edge.id"></svg:path>
            </defs>

            <!--This rect is just for user interaction via panning (TODO: set transform/dimensions correctly)-->
            <svg:rect class="panning-rect" (mousedown)="isPanning = true" />

            <ng-content></ng-content>

            <!--Handles all the node clusters-->
            <svg:g class="clusters">
                <svg:g #clusterElement *ngFor="let node of graph.clusters; trackBy: trackNodeBy" [id]="node.id"
                    [attr.transform]="node.transform">
                    <ng-container *ngIf="clusterTemplate && !node.hidden" [ngTemplateOutlet]="clusterTemplate"
                        [ngTemplateOutletContext]="{ $implicit: node }">
                    </ng-container>
                    <svg:g *ngIf="!clusterTemplate" class="node cluster">
                        <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height"
                            [attr.fill]="node.data?.color" />
                        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                            {{ node.label }}
                        </svg:text>
                    </svg:g>
                </svg:g>
            </svg:g>

            <!--Handles all the edges between nodes-->
            <svg:g class="edges">
                <svg:g #linkElement *ngFor="let edge of graph.edges; trackBy: trackEdgeBy" class="edge-group"
                    [id]="edge.id">
                    <ng-container *ngIf="edgeTemplate" [ngTemplateOutlet]="edgeTemplate"
                        [ngTemplateOutletContext]="{ $implicit: link }"></ng-container>
                    <svg:path *ngIf="!edgeTemplate" class="edge" [attr.d]="edge.line" />
                </svg:g>
            </svg:g>

            <!--Handles all the nodes-->
            <svg:g class="nodes">
                <svg:g #nodeElement *ngFor="let node of graph.nodes; trackBy: trackNodeBy" [id]="node.id"
                    [attr.transform]="node.transform">
                    <ng-container *ngIf="nodeTemplate && !node.hidden" [ngTemplateOutlet]="nodeTemplate"
                        [ngTemplateOutletContext]="{ $implicit: node }"></ng-container>
                    <svg:circle *ngIf="!nodeTemplate" r="10" [attr.cx]="node.dimension.width / 2"
                        [attr.cy]="node.dimension.height / 2" [attr.fill]="node.data?.color" />
                </svg:g>
            </svg:g>

        </svg:g>
    </svg:svg>
</div>